  *{
        box-sizing: border-box;
      }

      body {
        color: #878787;
        margin: 0;
        font-family: sans-serif;
        text-align: center;
      }

      h1 {
        text-align: center;
        color: blue;
        font-family: brush script mt;
        font-size: 100px;
      }
      h2 {
        font-size: 30px;
        color: blue;
        text-transform: lowercase;
        font-style: italic;
      }
      h4 {
        text-align: left;
      }

      img {
        width: 100%;
      }

      .nav-bar {
        list-style-type: none;
        margin: 0;
      }

      .nav-bar-list {
        float: left;
        padding-top: 10px;
      }

      .nav-bar-link {
        font-size: 24px;
        padding: 20px;
        text-decoration: none;
        color: white;
      }

      .main-header {
         padding-top: 500px;
         padding-bottom: 900px;
         height: 200px;
         background: url("imgs/dapperdogs.jpg");
         background-repeat: no-repeat;
         background-position: center center;
         background-size: cover;
      }

      .title {
        color: white;
        font-size: 1.5em;
      }

      .intro {
        font-size: 3.25em;
        line-height: 1.5em;
        width: 50%;
        margin: auto;
        padding: 40px;
      }

      .box {
        width: 80%;
        margin: auto;
        display: flex; 
      }

      .card {
        width: 100%;
        padding: 20px;
        text-align: center;
        box-shadow: 2px 2px 2px 2px grey;
        background-color: rgb(240, 240, 240);
        border: 2px solid black;
        margin: 10px;

      }
      .bath {
        border: 5px solid black;
      }
      .fullgroom {
        border: 5px solid black;
      }
      .add-ons {
        border: 5px solid black;
      }
      .groomingbus {
        height: 50%;
        width: 50%;
      }
      .footer {
       height: 40px;
       padding: 5px;
      }